[submodule "submods/xim-configs"]
	path = submods/xim-configs
	url = git@gitlab.corp.qinqinxiaobao.com:im/xim-configs.git
[submodule "submods/pytoolbox"]
	path = submods/pytoolbox
	url = git@gitlab.corp.qinqinxiaobao.com:fd/pytoolbox.git
	branch = master
